@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Control de Suministros</h1>
    <p class="lead">Bienvenido al sistema de control de suministros del departamento de mantenimiento de edificios.</p>
    <p><a href="https://www.ibm.com/es-es/topics/supply-chain-management" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Ingreso de Suministros</h2>
        <p>Registra nuevos suministros en el sistema. Completa la información del artículo, como código, nombre, unidad de medida, cantidad mínima y máxima.</p>
        <p><a class="btn btn-default" href="ingreso.html">Registrar Suministros &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Realizar Pedido</h2>
        <p>Realiza pedidos de suministros que sean necesarios para la bodega. Indica los detalles del pedido, como cantidad y precio por unidad de medida.</p>
        <p><a class="btn btn-default" href="pedido.html">Realizar Pedido &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registrar Solicitud de Retiro</h2>
        <p>Registra las solicitudes de retiro de suministros realizadas por el personal técnico. Indica los detalles de la solicitud y el técnico encargado.</p>
        <p><a class="btn btn-default" href="retiro.html">Registrar Retiro &raquo;</a></p>
    </div>
</div>